%table.table.table-color.table-striped
  %tr
    %th Name
    %th Resource

  - @resources.each do |resource|
    %tr
      %td
        = resource.name
      %td= image_tag resource.storage.url


= paginate @resources
