%ul#quick_nav
  %li
    = link_to icon_link("arrow-left"), prev_gallery
  %li
    = link_to icon_link("arrow-right"), next_gallery
  %li
    = link_to icon_link("arrow-up"), "#top"
  %li
    = link_to icon_link("home"), "/"

