// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#quick_nav{
  position: fixed;
  right: 60px;
  top: 100px;
}
